<div layout="column">
    <!--<input type="text" ng-model="home.accountName" placeholder="Account Name">-->
    <!--<input type="text" ng-model="home.accountKey" placeholder="Account Key">-->
    <div flex="20">
        <md-select ng-model="home.selectedAccount" placeholder="Select an Account">
            <md-option ng-value="key" ng-repeat="(key, value) in home.account">{{ key }}</md-option>
        </md-select>
        <button ng-if="home.selectedAccount" ng-click="home.updateAccount()">Update Account</button>
        <button ng-if="home.selectedAccount" ng-click="home.removeAccount()">Remove Account</button>
        <button ng-click="home.addAccount()">Add Account</button>
    </div>
    <div flex="80">

    </div>
</div>
